# This is Git's per-user configuration file.
[user]
	name = Will Earp
	email = will.earp@alan.eu
[pull]
    ff = only
[alias]
    lolp = log --graph --pretty=format:\\"%C(yellow)%h%Creset%C(cyan)%C(bold)%d%Creset %C(cyan)(%cr)%Creset %C(green)%ce%Creset %s\\"
    lol = log --graph --decorate --pretty=oneline --abbrev-commit
    lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
    lolap = log --graph --decorate --pretty=oneline --abbrev-commit --exclude='*prod*' --all
    lolan = log --graph --decorate --pretty=oneline --abbrev-commit --all --name-status
[color]
    branch = auto
    diff = auto
    interactive = auto
    status = auto
